<div id="activities">

    <h3>What to see</h3>

    <ul>
      {{#each activities}}
        <li>{{description}}</li>
      {{/each}}
    </ul>

    <a href="{{activities.0.url}}" class="button">Learn more..</a>
    
</div>
