<div id="activities">

    <h3 class="partial-header">What to see</h3>

    <ul>
      {{#each activities}}
        <li class="partial-list">{{description}}</li>
      {{/each}}
    </ul>

    <a href="{{activities.0.url}}" target="_blank"><button class="note-btn">Learn more..</button></a>

</div>
