<div id="packing-list">

    <h3>What to pack</h3>

    <ul>
    {{#each items}}
    <li>{{item}}</li>
    {{/each}}
    </ul>

    <form action="/" method="post">
        <input type="hidden" name="id" value={{currentWalk.id}}>
        <input type="text" name="itemname" placeholder="My item to pack" onfocus="this.placeholder = ''">

        <button type="submit" name="button">Add my item</button>
    </form>
    
</div>
