/*HEADER*/

#header-text {
  font-family: 'Eczar', serif;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: text-top;
  font-size: 4em;
  padding-top: 6px;
}

.wide {
  width:100%;
  height:250px;
  background-image:url('./images/header.jpg');
  background-size: cover;
}

/*MAP */

#map {
  margin-top: 30px;
  height: 500px;
}

/*WALKS PAGE*/
#activities, #packing-list {
  margin-top: 30px;
  padding: 20px;
  height: 100%;
  /*border: 1px solid #538CED;*/
}

#activities h3, #packing-list h3, #alerts h3 {
  margin-top: 0px;
}

/*div {
  border: 1px solid red;
}*/

#activities {
  background-color: #BDD5FF;
}

#packing-list {
  background-color: #E0ECFF;
}

#alerts {
  margin-top: 30px;
}

iframe {
  height: 300px;
  width: 100%;
}
/*.my-btn  {
  width: 40%;
  margin: 0 auto;
}*/

/*NOTES*/

div.note {
  height: 150px;
  width: 150px;
  background-color: yellow;
  margin: 2px 0;
  position: relative;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  margin: 0;
  font-size: 22px;
  padding: 5px;
  font-family: "Shadows Into Light", Arial;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {

  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear;
}

div.note button {
  margin: 2px;
}

div.note > textarea {
  height: 75%;
  background: rgba(255, 255, 255, .5);
}

div.board {
  background-color: 'brown';
  width: 100%;
  background: #eab92d;
}

.board > button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
}

/*FOOTER*/

.hr-main {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width:  80%;
}

footer {
  margin: auto 0;
  padding: 20px;
  font-size: 0.9em;
  text-align: center;
}
