body {
  font-family: 'Vollkorn', serif;
}

/*HEADER*/

#header-text {
  font-family: 'IM Fell English SC', serif;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: text-top;
  font-size: 4em;
  color: #452F2F;
  padding-top: 6px;
}

.wide {
  width:100%;
  height:250px;
  background-image:url('./images/header.jpg');
  background-size: cover;
}

.nav {
  font-size: 1.5em;
  font-family: 'IM Fell English SC', serif;
  }

/*MAP */

#map {
  margin-top: 30px;
  height: 500px;
  margin-bottom: 30px;
}

/*WALKS PAGE*/

.walk-header {
  font-family: 'Eczar', serif;
  font-size: 3.5em;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
}

.walk-descr {
  text-align: center;
  font-size: 1.5em;
}

.partial-header {
  font-size: 2.5em;
}

.partial-list {
  list-style: square;
  font-size: 1.5em;
}

.download {
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em !important;
}

.input {
  font-size: 1em;
  padding: 5px 10px 5px 10px;
  margin-right: 15px;
}
#activities, #packing-list {
  margin-top: 30px;
  padding: 20px;
  height: 100%;
}

#activities h3, #packing-list h3, #alerts h3 {
  margin-top: 0px;
}

#activities {
  background-color: #BDD5FF;
}

#packing-list {
  background-color: #E0ECFF;
}

#alerts {
  margin-top: 30px;
}

iframe {
  height: 300px;
  width: 100%;
}
/*.my-btn  {
  width: 40%;
  margin: 0 auto;
}*/

/*NOTES*/

div.note {
  height: 150px;
  width: 200px;
  background-color: #E0ECFF;
  margin: 5px;
  position: relative;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  margin: 0;
  font-size: 22px;
  padding: 5px;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2em;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {

  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear;
}

div.note button {
  margin: 2px;
}

div.note > textarea {
  height: 75%;
  background: rgba(255, 255, 255, .5);
}

.board {
  background-color: #BDD5FF;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.note-btn {
  font-size: 1em;
  align-self: flex-end;
  border:none;
  background: #74c5fc;
  background-image: -webkit-linear-gradient(top, #74c5fc, #438cba);
  background-image: -moz-linear-gradient(top, #74c5fc, #438cba);
  background-image: -ms-linear-gradient(top, #74c5fc, #438cba);
  background-image: -o-linear-gradient(top, #74c5fc, #438cba);
  background-image: linear-gradient(to bottom, #74c5fc, #438cba);
  color: #000000;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.note-btn:hover {
  background: #0390e8;
  background-image: -webkit-linear-gradient(top, #0390e8, #286994);
  background-image: -moz-linear-gradient(top, #0390e8, #286994);
  background-image: -ms-linear-gradient(top, #0390e8, #286994);
  background-image: -o-linear-gradient(top, #0390e8, #286994);
  background-image: linear-gradient(to bottom, #0390e8, #286994);
  text-decoration: none;
}

/*PHOTO GALLERY*/
.gallery {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.gallery img {
  margin: 5px;
  height: 150px;
}

.walk-header a {
  text-decoration: none;
  color: #452F2F;
}

.walk-header a:hover {
  color: #783B3B;
}


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider {
  overflow:  hidden;
  height: 640px;
}

div#slider figure img {
  width: 20%;
  float: left;
 }

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/*ABOUT*/

.about {
  font-size: 1.5em;
  text-indent: 1.5em;
}

/*FOOTER*/

.hr-main {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width:  80%;
}

footer {
  margin: auto 0;
  padding: 20px;
  font-size: 0.9em;
  text-align: center;
}
