<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Zealand Great Hiking Adventure</title>
  </head>
  <body>
    <div class="container">
      {{> header}}

      {{{body}}}

      {{> footer}}
  </div>
  </body>
</html>
